.masterDiv{
    width: 100%;
    height: 100vh;
}

.headText{
    color: var(--mainTextColor);
    font-size: 5rem;
}
.text{
    color: var(--mainTextColor);
    font-size: 8px;
}
.gameMode{
    width: 80%;
    height: 70vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.custom-btn{
    color: var(--mainTextColor);
    width: 10%;
    height: 5vh;
    margin: 0 20% 0 20%;
    font-size: 2em;
    text-align: center; 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-image: none;
    border-color: var(--mainTextColor); 
}

.custom-btn:hover {
    color: #fff;
    background-color: var(--mainTextColor);
    border-color: var(--mainTextColor);
}

.custom-btn:focus, 
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem var(--mainTextColor);
}